.App {
  display: flex;
  justify-content: center;
}

* {
  margin: 0vh;
  padding: 0vh;
  font-size: 1em;
}

div .gender {
  margin: 10px;
}

.justify-content {
  display: flex;
  justify-content: center;
}

label {
  margin-right: 10px;
}

div .home {
  border: 1px solid skyblue;
  position: relative;
  height: 85vh;
  width: auto;
  margin: 0;
  background-color: #edf7fc;
}

div .home-left {
  width: 50%;
  display: flex;
  justify-content: right;
  align-content: center;
}

div .home-introduce {
  width: 60%;
  height: 50%;
  margin-top: 25vh;

  display: table;
}

div .home-introduce-img {
  width: 100%;
  height: 20%;
  display: table-row;
  font-size: 2em;
}

div .home-introduce-content {
  width: 100%;
  height: 40%;
  display: table-row;
  font-size: 1.5em;
  color: black;
}

div .home-right {
  width: 50vw;
  display: flex;
  padding-left: 10vw;
  justify-content: left;
}

div .home-input {
  width: 25vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  border-radius: 5px;
}

div .home h1 {
  padding: 5vh;
}

div .question {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

div .answer {
  margin: 1vh 1vw;
  margin-top: 5vh;
}

div .test {
  background-color: #edf7fc;
  width: auto;
  height: auto;
}

img {
  width: inherit;
  max-width: 40%;
  height: auto;
}

.Form {
  width: 100%;
  height: 35vh;
  margin: 0px;
  padding: 2vh 1vw;

  border-radius: 10px;
}

.gender {
  width: 90%;
  height: 8vh;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: right;
}

.completed {
  text-align: center;
  height: auto;
  width: auto;
  padding: 5vh 0;
}

.completed img {
  width: auto;
  height: auto;
  margin: 5vh 30%;
}

div .result {
  background-color: #edf7fc;
  padding: 5vh;
  width: auto;
  height: auto;
}

a:hover {
  color: skyblue;
}

td > a {
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}
